{{#each rows}}
    <div class="panel fsn panel-default" data-id="{{FSN}}">
       <div class="row">
           <div class="col-md-3">{{FSN}}</div>
           <div class="col-md-3">{{productName}}</div>
           <div class="col-md-3">{{mrp}}</div>
       </div>
    </div>
{{/each}}